@{
    ViewData["Title"] = "About Me";
}


<div class="row featurette mt-5">
    <div class="col-md-7">
        <h2 >Mostafa Shmaisany, <h4 class="text-body-secondary">Computer Scientist</h4></h2>
        <p class="lead">
            I’m a passionate Computer Scientist specializing in developing innovative solutions across a wide range of technologies. With expertise in building dynamic websites, mobile and cross-platform applications, and cutting-edge AI and machine learning models, I am dedicated to pushing the boundaries of technology to create impactful and meaningful solutions.

            My mission is to contribute to the open-source community by developing applications that solve real-world problems and support societal advancement. I believe in harnessing technology to drive positive change and make a difference.

            Whether you’re interested in exploring new technologies, seeking solutions to complex challenges, or looking to collaborate on open-source projects, you’re in the right place. Let’s work together to build a better, more connected world.

            Feel free to reach out if you have any questions or ideas for collaboration. I’m excited to connect with like-minded individuals and organizations passionate about technology and its potential to transform lives.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKfC7gHJl4fsFP6wVnrMtwotDeRmZ_lVM4sWQk2xz6M7oPX8dhA=s288-c-no" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"   preserveAspectRatio="xMidYMid slice" >
    </div>
</div>
<hr class="featurette-divider">
<a href="https://shmaisanimostafa.github.io/shmaisanimostafa/indexEnglish.html" class="btn btn-outline-info">
    <h3>Contact Me</h3>
</a>

