@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>We are 2 Computer Science students, developed this project for the web course.</p>

<a href="https://shmaisanimostafa.github.io/shmaisanimostafa/indexEnglish.html" class="btn btn-outline-info">
    <h3>Mostafa Shmaisani</h3>
</a>
@* <a href="https://shmaisanimostafa.github.io/shmaisanimostafa/indexEnglish.html" class="btn btn-outline-info">
    <h3>Muhammad Hamze</h3>
</a> *@