@model Security_Guard.Models.Article

@{
    ViewData["Title"] = "AddArticle";
}

<h1>Add Article</h1>

<form class="row g-3" asp-controller="Articles" asp-action="AddArticle" method="post">
    <div class="col-md-6">
        <label for="ArticleTitle" class="form-label">Article Title</label>
        <input type="text" class="form-control" id="Title" name="Title" asp-for="Title">
    </div>
    <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea class="form-control" aria-label="With textarea" name="Description" asp-for="Content"></textarea>
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Rating</label>
        <select id="inputState" class="form-select" name="Rating" asp-for="Rating">
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="Image" class="form-label">ImageURL</label>
        <input class="form-control" type="url" id="Image" name="ImageURL" asp-for="ImageURL">
    </div>
    <div class="col-md-2">
        <label for="SourceURL" class="form-label">SourceURL</label>
        <input class="form-control" type="url" id="URL" name="URL" asp-for="SourceURL">
    </div>


    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="IsFeatured" value="true" name="IsFeatured"
            asp-for="IsFeatured">
        <label class="form-check-label" for="IsFeatured">Is Featured?</label>
    </div>



    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
