
<lord-icon src="https://cdn.lordicon.com/kkqzqltd.json"
           trigger="hover"
           stroke="bold"
           colors="primary:#121331,secondary:#ffffff,tertiary:#e8e230"
           style="width:150px;height:150px">
</lord-icon>
<form method="post" action="/Prediction/Predict">
    <div class="form-group">
        <!-- <label for="text">Enter text to analyze:</label>-->
        <div class="w-50 mx-auto my-2">
        <input type="text" id="text" name="text" class="form-control" placeholder="Enter text here" />
        </div>
        <br />
    </div>
    <button class="btn btn-info" type="submit">Analyse Text using AI</button>
</form>

