@model Shared.Models.Link
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    var user = await userManager.GetUserAsync(User);
}

<form asp-action="AddLink" method="post">

    <lord-icon src="https://cdn.lordicon.com/cbigqefp.json"
               trigger="hover"
               stroke="bold"
               colors="primary:#000000,secondary:#e8e230"
               style="width:150px;height:150px">
    </lord-icon>
    <div asp-validation-summary="All" class="text-danger"></div>
        <div class="w-50 mx-auto my-2">
            <input type="url" asp-for="URL" class="form-control"  placeholder="http://www.Google.com">
        </div>
<br />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Status" value="ambigious" />
    @if (signInManager.IsSignedIn(User))
    {
        <input type="hidden" asp-for="UserName" value="@user.UserName" />
    }
    else
    {
        <input type="hidden" asp-for="UserName" value="Guest" />
    }
    <input type="hidden" asp-for="StatusMessage" value="Nothing to say" />
    <input type="hidden" asp-for="DateTime" value="@DateTime.Now" />
    <button class="btn btn-info" type="submit">Scan Link</button>
</form>