@model Shared.Models.File;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    var user = await userManager.GetUserAsync(User);
}
<form asp-action="AddFile" method="post">
<lord-icon src="https://cdn.lordicon.com/ujxzdfjx.json"
           trigger="hover"
           stroke="bold"
               colors="primary:#000000,secondary:#e8e230"
           style="width:150px;height:150px">
</lord-icon>
    <div asp-validation-summary="All" class="text-danger"></div>

<div class="input-group w-50 mx-auto my-3">
        <input asp-for="FileName" value="filenames" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FileName" value="File.Name" />
        @if (signInManager.IsSignedIn(User))
        {
            <input type="hidden" asp-for="UserName" value="@user.UserName" />
        }
        else
        {
            <input type="hidden" asp-for="UserName" value="Guest" />
        }
        <input type="hidden" asp-for="DateTime" value="@DateTime.Now" />
        <button class="btn btn-info" type="submit">Scan File</button>
    </div>
    </form>

