@inherits LayoutComponentBase

 <div class="page">
     <div class="sidebar">
         <NavMenu />
         <ColorMode />
     </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

             @Body
        
     </main>
 </div> 


