@{
    var Neighbor = ViewBag.Neighbor;

    string imagePath = "~/Neighbors/" + Neighbor.Name + ".png";
    
}
<br /><br />
<h1>@Neighbor.Name</h1>
<div class="mb-3">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <h5 class="card-title">Rating:</h5>
                        </div>
                        <div class="col">
                            @{
                                
                                for (var c = 0; c < @Neighbor.Rating; c++)
                                {
                                    
                                    <i class="fa fa-star" style="color: #ecec00;" aria-hidden="true"></i>
                                }
                            }
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <a href="@Neighbor.URL" class="btn btn-outline-success">Visit</a>
                        <a asp-controller="Neighbors" asp-action="Index" class="btn btn-primary">Return</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <img src="@Url.Content(imagePath)" class="img-fluid rounded-start img-thumbnail" alt="...">
        </div>
    </div>
</div>
