@{
    ViewData["Title"] = "Scan Page";
}
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link text-warning active" aria-current="true" href="#linkTab" data-toggle="tab">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="#defaultTab" data-toggle="tab">Default</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="#fileTab" data-toggle="tab">File</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <lord-icon src="https://cdn.lordicon.com/kkqzqltd.json"
                   trigger="hover"
                   stroke="bold"
                   colors="primary:#121331,secondary:#ffffff,tertiary:#e8e230"
                   style="width:100px;height:100px">
        </lord-icon>
        <lord-icon src="https://cdn.lordicon.com/ujxzdfjx.json"
                   trigger="hover"
                   stroke="bold"
                   style="width:100px;height:100px">
        </lord-icon>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-warning">Scan Link</a>
    </div>

</div>
