@*
  
*@
@{
}
<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        <a class="btn position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" asp-controller="Scan" asp-action="Index" aria-label="Close"></a>
        <h1 class="text-success"><i class="bi bi-shield-check mb-3"></i></h1>
        <h1 class="text-body-emphasis">Analysing has finished!</h1>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Safe!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
        <p class="col-lg-6 mx-auto mb-4">
            This faded back jumbotron is useful for placeholder content. It's also a great way to add a bit of context to a page or section when no content is available and to encourage visitors to take a specific action.
        </p>
        <button class="btn btn-success px-5 mb-5" type="button">
            Call to action
        </button>
    </div>
</div>


<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        <a class="btn position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" asp-controller="Scan" asp-action="Index" aria-label="Close"></a>
        <h1 class="text-danger"><i class="bi bi-shield-exclamation mb-3"></i></h1>
        <h1 class="text-body-emphasis">Analysing has finished!</h1>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Safe!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
        <p class="col-lg-6 mx-auto mb-4">
            This faded back jumbotron is useful for placeholder content. It's also a great way to add a bit of context to a page or section when no content is available and to encourage visitors to take a specific action.
        </p>
        <button class="btn btn-danger px-5 mb-5" type="button">
            Call to action
        </button>
    </div>
</div>